<p>Hi <%= @user.display_name.presence || @user.email %>,</p>

<p>We received a request to reset your Voxlane password.</p>

<p>
  <a href="<%= @reset_url %>">Reset your password</a>
</p>

<p>This link expires in <%= AppConfig.password_reset_token_ttl.in_minutes %> minutes.</p>

<p>If you did not request this change, you can ignore this email.</p>
